.sidebar {
  background-color: #1e2128;
  display: flex;
  flex-direction: column;
  width: 18%;
  transition: width 0.05s;
  height: 110vh;
}
.sidebar.sidebarAnimate {
  width: 9%;
  transition: width 0.5s;
}
.sidebar.sidebarAnimate nav hr {
  width: 120px;
  opacity: 0.2;
}
.sidebar.sidebarAnimate .toggle-icon {
  cursor: pointer;
  font-size: 25px;
  color: #7e8289;
  position: relative;
  top: 2px;
  left: 20px;
}
.sidebar.sidebarAnimate .nav-icon {
  font-size: 18px;
  color: #7e8289;
  padding-left: 35px;
}
.sidebar.sidebarAnimate .nav-icon:hover {
  color: #160d43;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
}
.sidebar nav span {
  margin-left: 18px;
  color: #7e8289;
  text-decoration: none;
}
.sidebar nav label {
  padding: 10px;
  margin-bottom: 10px;
}
.sidebar nav label:hover {
  background-color: #a6a9ac;
  color: #160d43;
}
.sidebar nav label:hover .nav-icon {
  color: #160d43;
}
.sidebar nav label:hover span {
  color: #160d43;
}

.link {
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  position: relative;
}
.link:hover {
  background-color: #a6a9ac;
  color: #160d43;
}
.link:hover .nav-icon {
  color: #160d43;
}
.link:hover span {
  color: #160d43;
}

.hrLine1 {
  width: 250px;
  color: #7e8289;
  opacity: 0.3;
}

.hrLine2 {
  width: 120px;
  color: #7e8289;
  opacity: 0.3;
}

.toggle-icon {
  cursor: pointer;
  font-size: 25px;
  color: #7e8289;
  position: relative;
  top: 0px;
  left: 12px;
}

.nav-logo {
  width: 200px;
  height: 90px;
}

.nav-logo-small {
  width: 40px;
  height: 60px;
  margin: 5px;
}

.nav-icon {
  font-size: 18px;
  color: #7e8289;
  padding-left: 25px;
}

.nav-icon-open {
  color: #d3d3d3;
  background-color: #1e2128;
  border: 2px solid #d3d3d3;
  width: 20px;
  height: 20px;
  font-size: 22px;
  margin-left: 70px;
}

.user_profile {
  display: flex;
  margin-top: 55px;
}
.user_profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 13px;
}
.user_profile p {
  margin-top: 6px;
  font-size: 13px;
  color: #7e8289;
  font-weight: bold;
}
.user_profile p span {
  font-size: 10px;
  color: #7e8289;
}

.user_profile-small {
  display: flex;
  margin-top: 55px;
}
.user_profile-small img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 30px;
}

.setting-icon {
  font-size: 18px;
  color: #7e8289;
  margin-left: 55px;
  margin-top: 15px;
}

.dropdown-content {
  background-color: #7e8289;
  position: absolute;
  left: 250px;
  top: 0px;
  min-width: 160px;
  z-index: 10;
  border-radius: 6px;
}
.dropdown-content .linkname {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  display: block;
}
.dropdown-content .linkname:first-child {
  border-bottom: 2px solid white;
}
.dropdown-content .linkname:hover {
  background-color: #ddd;
  color: #2306b4;
}
.dropdown-content .linkname:hover span {
  color: #2306b4;
}
.dropdown-content .linkname span {
  color: white;
}/*# sourceMappingURL=sidebar.css.map */